<h1>{{ title }}</h1>
<h2>admin links</h2>
<ul>
  <li><a routerLink="admin/login">Login</a></li>
  <li><a routerLink="admin/list">List</a></li>

</ul>

<h2>user links</h2>
<ul>
  <li><a routerLink="user/login">Login</a></li>
  <li><a routerLink="user/list">List</a></li>

</ul>


 HI HOW ARE YOUUUUU
<router-outlet></router-outlet>


<form [formGroup]="loginform"(ngSubmit)="loginUser()">
  <input formControlName="name" type="text" placeholder="enter name">
  <input formControlName="email" type="email" placeholder="enter email">
  <!-- other form elements -->
  <button>Login</button>
</form>

